*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    background-color: hsl(13, 31%, 94%);
    min-height: 100vh;
    display: flex;
    /* margin-top: 20px; */
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    padding-top: 3%;
}
main{
    width: 70%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    /* border: 3px dotted black; */
}
section{
    /* border: 3px dotted black; */
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin:10px auto;
}
main>h2{
    margin-left: 10%;
}
.meal{
    display: flex;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.116);
    border-radius: 13px;
    flex-direction: column;
    width: 250px;
    margin: 20px;
}
.meal>.img>img{
    border-radius: 10px;
}
img{
    width: 100%;
}
.bottom{
    flex-direction: column;
    display: flex;
    position: relative;
}
.bottom>button{
    left: 25%;
    background-color: aliceblue;
    top: -17%;
    position: absolute;
    border: 1px solid;
    border-radius: 18px;
    width: 150px;
    padding: 10px 0px;
    outline: none;
    /* background: transparent; */
    
}
.bottom>button:hover{
    border-color: hsl(14, 86%, 42%);
    cursor: pointer;
    color: hsl(14, 86%, 42%);
}

.bottom-description{
    margin-top: 20px;
    margin-left:4px ;
    padding: 10px;
    /* border: 2px solid red; */

}
.bottom-description>p{
    margin: 10px 0px;
    color: hsl(7, 20%, 60%);
}
.bottom-description>h5{
    margin-top: 5px;
    color:hsl(14, 86%, 42%) ;

}
    


aside{
    width: 30%;
    /* display: none; */
    /* background-color: wheat; */
}
.container{
    padding: 10px;
    width: 90%;
    background-color: hsl(20, 50%, 98%);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(172, 161, 161, 0.103);
}
.container>h3{
    color: hsl(14, 86%, 42%);
}
.container>.items{
        border-bottom: 1px solid grey;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.container>.items>div>h6{
    margin: 10px 0px;
}
#quantity{
    color: hsl(14, 86%, 42%);
}
#cost-1{
    color: grey;
}
#cost-total{
    color: rgb(39, 38, 38);
}
.total{
    margin: 15px 0px;

}
.total>p{
    color: grey;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
#total{
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
}
.carbon{
    align-self: center;
    width: 60%;
    display: flex;
    align-items: center;
    padding: 10px 8px;
    justify-content: center;
    margin: 10px auto;
    background-color: hsl(13, 31%, 94%);
    border-radius: 10px;
    color: grey;
}
.carbon>p>span{
    color: black;
    font-family:bold ;
}
.container>div{
    width: 80%;
    margin: 20px auto;
}
.container>div>button{
    padding: 10px 16px;
    border-radius: 12px;
    border: none;
    background-color: hsl(14, 86%, 42%);
    color: white;
    cursor: pointer;
    margin: auto;
    width: 100%;
    align-self: center;
}
.container>div>button:hover{
    background-color: hsl(14, 90%, 45%);

}
